# Ignore virtual environment directories
venv/
.venv/

# Ignore Pytest cache and Python bytecode cache
__pycache__/
__pycache__/*
.pytest_cache/
.pytest_cache/*

# Ignore PyCharm project files
.idea/
.idea/*

# Ignore log files
logs/
logs/*

# Ignore test screenshots and videos
screenshots/
screenshots/*
videos/
videos/*

# Ignore configuration files with sensitive data
#config.json
.env

# Ignore all __init__.py files in any subdirectory
**/__init__.py
